.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
}
.navbar-logo {
  height: 2rem;
}
.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid var(--grey);
  border-radius: 2rem;
  box-shadow: 0 1px 2px Orgb(0 0 0 / 8%), 0 4px 12px Orgb(0 0 0 / 5%);
}
.search-bar-text {
  font-size: 0.85rem;
  font-weight: 600;
  border-right: 1px solid var (--grey);
  padding-right: 0.5rem;
}

.search-bar-text2 {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--font-grey);
  padding-right: 0.5rem;
}
.profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.airbnb-your-home {
  padding: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 0.9rem;
}
.airbnb-your-home:hover {
  background-color: var(--light-grey);
}
.profile-menu-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  color: var(--font-grey);
  border: 1px solid var(--grey);
  padding: 0.5rem;
  border-radius: 2rem;
}
.menu-items {
  padding: 0.5rem 1rem !important;
  font-size: 0.8rem;
  color: var(--font-grey);
}
